<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Lemur Scheme: {{ page.title }}</title>
   <meta name="author" content="Clinton R. Nixon" />
   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css" /> 
   <link rel="stylesheet" href="/lemur-scheme/css/site.css" type="text/css" /> 
</head>
<body>
  <div id="doc" class="yui-t1">
    <div id="hd"></div>
    <div id="bd">
      <div id="yui-main">
        <div class="yui-b">
          <h1>Lemur Scheme</h1>
          <p>
            Lemur Scheme is my senior project
            (<a href="http://nova.umuc.edu/~duchon/2009/sp/cs495/syllabus.html">CMSC495</a>)
            at <a href="http://www.umuc.edu/">UMUC</a>. It is going to be an
            interpreter for Scheme and is intended to meet the
            <a href="http://www.schemers.org/Documents/Standards/R5RS/">
              R<sup>5</sup>RS</a> specification.
          </p>
          {{ content }}
        </div>
      </div>
      <div class="yui-b">
        <a href="/lemur-scheme/">
          <img src="/lemur-scheme/images/lemur.jpg" alt="a lemur eating an orange" id="mascot" />
        </a>
      </div>         
    </div>
    <div id="ft">
      <p>
        &copy; 2009 Clinton R. Nixon. Image copyright
        <a href="http://www.flickr.com/photos/thenotbelonghereguy/">
          Ben Hopper</a>.
      </p>
    </div>
  </div>
</body>
</html>
