---
layout: default
---
<div id="post" class="post">
  <h2 class="post_title">{{ page.title }}</h2>
  <div class="post_info">
    <span>{{ page.date | date_to_string }}</span>
    <div class="post_content">
      {{ content }}
    </div>
    
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/lemurscheme/embed.js"></script><noscript><a href="http://lemurscheme.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    <p><a href="/lemur-scheme/">Go back to home page</a></p>
  </div>
</div>


